<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'crud/css/bootstrap.css' %}">
    <title>Crud Operations</title>
</head>
<body>
    
    <div class="container mt-5">

        <h2 class="text text-center alert alert-danger">Function based View ModelForm CRUD Project</h2>
        {% block content %} 
        
        {% endblock content %}

    </div>



    <script src="{% static 'crud/js/bootstrap.js' %}"></script>
    <script src="{% static 'crud/js/jquery.js' %}"></script>
    <script src="{% static 'crud/js/popper.js' %}"></script>
</body>
</html>